
html {
    background-color: #CD5C5C;
} 
body main {
    background-color: #DB7093;
    padding: 5px;
    margin-left: 90px; /*Entiendo que pides esto según la foto, o un porcentaje*/
    margin-right: auto;
    height: 230px; /*Altura*/
    width: 1200px; /*Ancho*/
}
body {
    align-self: center;
    margin: 0 auto;
}
header {
    text-align: center;
    font-size: 200%;
}
nav {    
    text-align: center;
}
nav a {
    color: #000;
    text-decoration: none; /*Para quitar en subrayado azul predetermiando*/
    margin-left: 15px; /*Solo era necesario un lado*/
}
nav a:hover {
    color:white;
    font-variant: small-caps
}
section span {
    color:black;
}
:target { /*Para mostrar el seleccionado*/
    color: white;
    font-variant: small-caps
}